/* work: */
font-family: FranklinGothic-Book;
font-size: 11px;
color: #000000;
line-height: 12px;
text-shadow: 0px 1px 0px rgba(255,254,255,0.50);

/* In the tumultuous bu: */
font-family: BellMT;
font-size: 12px;
color: #000000;
line-height: 16px;


/* timothy shull, jr.: */
font-family: FranklinGothic-Book;
font-size: 48px;
color: #4A4A4A;
line-height: 54px;


/* © timothy shull, jr.: */
font-family: AvenirNext-Regular;
font-size: 10px;
color: #979797;
line-height: 15px;


/* Shape: */
background: #ECEFF1;
