<div class="index_body">
  <div class="row">
    <div class="seven columns">
      <a class="no_font_color" id="about">
        <h3 class="body_heading">About Me</h3></a>

        <p>The best and worst decision I ever made in my life was to fall in love with music.</p>

        <p>I guess, if I am being honest, I should probably say that it was less of a decision and more of an undeniable magnetic pull. Whatever it is, it has taken me down a somewhat curvy path as an adult.</p>

        <p>As an adult I have done a lot…government work in DC tracking bird flu, carpentry and the mountain life in Asheville, NC, framing masterpieces of modern art, performing country music, like real, old-style country music, in Nashville, handling financials for dentists and landscaping impresarios, a short, wintery sojourn in Pittsburgh, sunny studies in Spain playing with computers to make weird sounds, and now Oakland.</p>

        <p>While music has been front and center, the math-centric side of my brain has always been bubbling in the background. Math, as a discipline, has as much in common with art and music as it does with business and engineering. I am constantly learning new things and all this tech business in the Bay Area has led me to a new passion in the place where computers, the web, music, math, and the mind meet.</p>

        <p>My previous experience as a programmer involved introductory OOP through C++, the history of computing and the web with <a href="http://www.cs.virginia.edu/~evans/">this guy</a>, and some relatively basic GIS stuff. I came back to programming recently through Max/MSP while earning a master’s in music technology. It re-ignited an excitement for the core of a computer and how it can be used to make all sorts of cool things, but especially some crazy sounds.</p>

        <p>Since then I have been devouring everything in sight related to programming and web development. I have been learning (or relearning) C, C++, Objective-C, Ruby, Rails, HTML, CSS, and, with an exceptional fervor, JavaScript.</p>

        <p>Here are a few other things I am currently excited about; Node, Cocoa, JavaScript SPAs and related frameworks, Bootstrap, Kendo, Foundation, Snap, PaaS...and so many more</p>

        <p>Please check out the <a href="resume.html#skills">Skills &amp; Expertise</a> to see a field guide to some of the things I am capable of...</p>
      </div>

      <div class="five columns"><a class="no_font_color" id="sound">
        <h3>Sounds</h3></a>

        <div class="sm2-bar-ui">
          <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>

            <div class="sm2-inline-gradient"></div>

            <div class="sm2-inline-element sm2-button-element">
              <div class="sm2-button-bd">
                <a class="sm2-inline-button play-pause" href="#play">Play / pause</a>
              </div>
            </div>

            <div class="sm2-inline-element sm2-inline-status">
              <div class="sm2-playlist">
                <div class="sm2-playlist-target">
                  <!-- playlist <ul> + <li> markup will be injected here -->
                    <!-- if you want default / non-JS content, you can put that here. -->
                    <noscript>
                      <p>JavaScript is required.</p></noscript>
                    </div>
                  </div>

                  <div class="sm2-progress">
                    <div class="sm2-row">
                      <div class="sm2-inline-time">
                        0:00
                      </div>

                      <div class="sm2-progress-bd">
                        <div class="sm2-progress-track">
                          <div class="sm2-progress-bar"></div>

                          <div class="sm2-progress-ball">
                            <div class="icon-overlay"></div>
                          </div>
                        </div>
                      </div>

                      <div class="sm2-inline-duration">
                        0:00
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-button-element sm2-volume">
                  <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span> <a class="sm2-inline-button sm2-volume-control" href="#volume">volume</a>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-button-element">
                  <div class="sm2-button-bd">
                    <a class="sm2-inline-button previous" href="#prev" title="Previous">&lt; previous</a>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-button-element">
                  <div class="sm2-button-bd">
                    <a class="sm2-inline-button next" href="#next" title="Next">&gt; next</a>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-button-element sm2-menu">
                  <div class="sm2-button-bd">
                    <a class="sm2-inline-button menu" href="#menu">menu</a>
                  </div>
                </div>
              </div>

              <div class="bd sm2-playlist-drawer sm2-element">
                <div class="sm2-inline-texture">
                  <div class="sm2-box-shadow"></div>
                </div><!-- playlist content is mirrored here -->

                <div class="sm2-playlist-wrapper">
                  <ul class="sm2-playlist-bd">
                    <li>
                      <a href="music/brindavani.wav"><b>Aditya Srinivasan</b> - Brindavani <span class="label">Record/Engineer/Mix</span></a>
                    </li>

                    <li>
                      <a href="music/chomsky.wav"><b>Snack Bar</b> - Chomsky <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/electronic.wav"><b>Snack Bar</b> - Electronic <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/if_i_ruled_the_world_remix.wav"><b>Snack Bar</b> - If I Ruled The World - Remix <span class="label">Produce</span></a>
                    </li>

                    <li>
                      <a href="music/interiorism.wav"><b>Snack Bar</b> - Interiorism <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/karsi_llamas.wav"><b>Miguel Ruiz Santos</b> - Karsi Llamas <span class="label">Record/Engineer/Mix</span></a>
                    </li>

                    <li>
                      <a href="music/polish_folk.wav"><b>Piotr Orzechowski</b> - Polish Folk <span class="label">Record/Engineer/Mix</span></a>
                    </li>

                    <li>
                      <a href="music/a_year_of_life_worktape.wav"><b>Luis Regidor Pain</b> - A Year Of Life <span class="label">Record/Engineer/Mix</span></a>
                    </li>

                    <li>
                      <a href="music/running.wav"><b>Snack Bar</b> - Running <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/soundscape.wav"><b>Snack Bar</b> - Soundscape <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/tines.wav"><b>Snack Bar</b> - Tines <span class="label">Compose/Perform/Produce</span></a>
                    </li>

                    <li>
                      <a href="music/davisville.wav"><b>Jelena Ciric</b> - Davisville <span class="label">Master</span></a>
                    </li>

                    <li>
                      <a href="music/green.wav"><b>Jelena Ciric</b> - Green <span class="label">Master</span></a>
                    </li>

                    <li>
                      <a href="music/carried.wav"><b>Jelena Ciric</b> - Carried <span class="label">Master</span></a>
                    </li>

                    <li>
                      <a href="music/promised_land.wav"><b>Jelena Ciric</b> - Promised Land <span class="label">Master</span></a>
                    </li>

                    <li>
                      <a href="music/yaaba_funk_remix.wav"><b>Snack Bar</b> - James Brown - Remix <span class="label">Produce</span></a>
                    </li>

                    <li>
                      <a href="music/shadow_of_love.wav"><b>Bandazian</b> - Shadow of Love <span class="label">Compose/Perform</span></a>
                    </li>

                    <li>
                      <a href="music/crocodile_tears.wav"><b>Bandazian</b> - Crocodile Tears <span class="label">Compose/Perform</span></a>
                    </li>
                  </ul>
                </div>

                <div class="sm2-extra-controls">
                  <div class="bd">
                    <div class="sm2-inline-element sm2-button-element">
                      <a class="sm2-inline-button previous" href="#prev" title="Previous">&lt; previous</a>
                    </div>

                    <div class="sm2-inline-element sm2-button-element">
                      <a class="sm2-inline-button next" href="#next" title="Next">&gt; next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3>Contact</h3>

            <form>
              <div class="row">
                <div class="u-full-width">
                  <label for="exampleEmailInput">Email Address</label> <input class="u-full-width" id="exampleEmailInput" placeholder="yourname@mail.com" type="email">
                </div>
              </div><label for="exampleMessage">Message</label> 
              <textarea class="u-full-width" id="exampleMessage" placeholder="Hi Tim …">
              </textarea> <input class="button-primary" type="submit" value="Submit">
            </form><img alt="Timothy Shull, Jr." class="profile_pic" src="image/ts.jpg"></div>
          </div>
        </div>

