#p1>p {
    display: inline-block;
    width: 20px;
    margin: 0;
    border: 0;
    padding: 0;
    content: 0;
}

#p4 {
background-color: #33CCFF;
height: 30px;
}

#p2 {
background-color: #FF00FF;
height: 30px;
}

#p3 {
background-color: #00FF00;
height: 30px;
}

ul {
    background-color: inherit;
}

p {
    display: block;
}